:host{
    width: 100%;
    height: 100%;
}

.mode-toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;


    .mode-button{
        flex: 1;
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: center;
        background-color: lightblue;
    }

    .mode-text {
        flex: 1;
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: center;
        background-color: lightcoral;
    }

    .mode-button span,
    .mode-text span {
        white-space: nowrap;
        overflow: hidden;
    }

    .mode-text p {
        margin: 0; /* Removes default paragraph margins */
    }
}