.character-list {
    padding: 0;
    list-style: none;
}

.character-entry {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.character-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100px;
    text-align: center;
}

.icons {
    display: flex;
    align-items: center;
}

.icon-placeholder,
.icon-up,
.icon-down,
.icon-remove {
    display: flex;
    margin-left: 8px;
    user-select: none;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    user-select: none;
}

.icon-up,
.icon-down,
.icon-remove {
    cursor: pointer;
}