<div class="character-list">
  <div *ngFor="let name of characterNames; let i = index; let first = first; let last = last" class="character-entry">
    <div class="character-item">
      <span>{{ name }}</span>
    </div>
    <div class="icons">
      <span *ngIf="first" class="icon-placeholder"></span>
      <i *ngIf="!first" class="material-icons icon-up" (click)="moveUp(i)">arrow_upward</i>
      
      <i *ngIf="!last" class="material-icons icon-down" (click)="moveDown(i)">arrow_downward</i>
      <span *ngIf="last" class="icon-placeholder"></span>
      
      <i class="material-icons icon-remove" (click)="removeCharacter(i)">close</i>
    </div>
  </div>
</div>
