$outer-margin: 1%;
$deep-blue: #000080;
$content-bg: #FFFFFF;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: $deep-blue;
    padding: $outer-margin;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100vw - 2 * $outer-margin);
    height: 100%;
    max-height: calc(100vw - 2 * $outer-margin);
    background-color: $content-bg;
}

.section-top {
    display: flex;
    flex: 1;
    width: 100%;

    .top-left,
    .top-middle,
    .top-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
    }

    .top-left {
        background-color: #ffcccc;
    }

    .top-middle {
        background-color: #ccffcc;
    }

    .top-right {
        background-color: #ccccff;
    }
}


.section-bottom {
    display: flex;
    flex: 7;
    justify-content: center;
    align-items: center;

    .bottom-left,
    .bottom-right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .bottom-left {
        flex: 4;
        background-color: #ccfffd;
    }

    .bottom-right {
        flex: 1;
        background-color: #fdffcc;
    }
}

